html,
        body {
            /* background-color: #100919; */
            margin: 0;
        }

        .holder {
            /* border: 1px solid red; */
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* background-color: #100919; */
            background-image: linear-gradient(#100919, rgb(0, 0, 0), rgb(41, 9, 9));
        }

        h1 {
            /* border: 2px solid red; */
            color: rgb(162, 255, 0);
            text-shadow: 0 0 20px rgba(0, 255, 106, 0.562);
        }

        .screen {
            margin-top: 30px;
            margin-bottom: 30px;
            width: 65%;
            height: 70px;
            border: 3px solid rgb(0, 200, 250);
            border-radius: 30px;
            background-color: #fffadd;
            box-shadow: 0 0 20px rgba(0, 89, 255, 0.57);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        p {
            color: #353535;
        }

        .keyboard {
            /* border: 2px solid red; */
            width: 85%;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            /* justify-content: space-around; */
        }

        button {
            width: 40px;
            height: 25px;
            border-color: #00eeff;
            border-radius: 20px;
            background-color: #5b5b5b;
            color: rgb(170, 255, 0);
        }

        #sub {
            width: 80px;
            height: 25px;
            border-color: #ff1e00;
            border-radius: 5px;
            background-color: #ff0800;
            color: rgb(255, 255, 255);
        }

        #key1 {
            /* border: 1px solid #ff0000; */
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        #key2 {
            /* border: 1px solid #ff0000; */
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        #key3 {
            /* border: 1px solid #ff0000; */
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        #key4 {
            /* border: 1px solid #ff0000; */
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        #key5 {
            /* border: 1px solid #ff0000; */
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

        #special {
            width: 80px;
            height: 25px;
            border-color: #00eeff;
            border-radius: 20px;
            background-color: #5b5b5b;
            color: rgb(170, 255, 0);
        }

        #lol {
            color: #7c7c7c;
        }

        a {
            color: rgb(255, 255, 255);
            text-decoration: none
        }
