.App {
  height: 100vh;
  position: relative;
  box-sizing: border-box;

  background: rgb(53, 53, 53);
  border: solid 30px rgb(91, 96, 99);
  box-shadow: inset 0 0 15px rgb(28, 28, 28);
}

.snake {
  width: 20px;
  height: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: turquoise;
  box-shadow: 0 0 5px cyan;
  border-radius: 5px;
}

.box {
  width: 20px;
  height: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-0%, -0%);

  background: tomato;
  box-shadow: 0 0 5px tomato;
  border-radius: 5px;
}

.control {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 150px;
  width: 150px;

  border: solid rgb(154, 154, 154);
  border-radius: 100%;
  background: silver;
  box-shadow: 0 0 15px rgb(123, 123, 123);
}

.a {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  padding: 0;
  margin-top: 10px;
  height: 45px;
  width: 45px;

  border-radius: 50px;
  background: black;
  box-shadow: 0 0 10px black;

  color: yellow;
  font-size: 1.5rem;
  /* line-height: 0; */
  text-shadow: 0 0 5px yellow;
}

.a:active {
  color: gold;
  text-shadow: 0 0 5px gold;
}

.b {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);

  padding: 0;
  margin-right: 10px;
  height: 45px;
  width: 45px;

  border-radius: 50px;
  color: red;
  background: black;
  box-shadow: 0 0 10px black;

  font-size: 1.3rem;
  line-height: 0;
  text-shadow: 0 0 5px red;
}

.b:active {
  color: rgb(212, 0, 0);
  text-shadow: 0 0 5px rgb(212, 0, 0);
}

.c {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  padding: 0;
  margin-bottom: 10px;
  height: 45px;
  width: 45px;

  border-radius: 50px;
  color: greenyellow;
  background: black;
  box-shadow: 0 0 10px black;

  font-size: 1rem;
  line-height: 0;
  text-shadow: 0 0 5px greenyellow;
}

.c:active {
  color: rgb(92, 255, 47);
  text-shadow: 0 0 5px rgb(92, 255, 47);
}

.d {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  padding: 0;
  margin-left: 10px;
  height: 45px;
  width: 45px;

  border-radius: 50px;
  color: dodgerblue;
  background: black;
  box-shadow: 0 0 10px black;

  font-size: 1.5rem;
  line-height: 0;
  text-shadow: 0 0 5px dodgerblue;
}

.d:active {
  color: rgb(30, 116, 255);
  text-shadow: 0 0 5px rgb(30, 116, 255);
}
